name: Output
on:
  push:
  schedule:
    - cron: "01 19 * * 0,1,2,3,4,5,6"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3 # updated to node16
      - name: setup python
        uses: actions/setup-python@v4 # updated to node16
        with: 
          python-version: 3.11
      - name: execute py script # aggregate current data
        run: |
          python -m pip install -r requirements.txt
          python relative-strength.py true false 
      - name: commit and push results
        run: |
          git config user.name "GitHub Actions" && git config user.email "actions@github.com"
          git add output/*.csv
          git commit -m "Update RS analysis results - $(date)" || echo "No changes to commit"
          git push || echo "Nothing to push"
