name: Output
on:
  push:
    branches: [ master ]
  schedule:
    - cron: "13 21 * * 1-5"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: checkout repo content
        uses: actions/checkout@v3

      - name: setup python
        uses: actions/setup-python@v4
        with: 
          python-version: "3.11"
          cache: 'pip'

      - name: execute py script
        run: |
          python -m pip install -r requirements.txt
          python relative-strength.py true false true

      - name: commit and push results
        run: |
          git config user.name "GitHub Actions" && git config user.email "actions@github.com"
          git add output/*
          git commit -m "Update analysis results - $(date)" || echo "No changes to commit"
          git push || echo "Nothing to push"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output

